* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #ede8e8;
}

header {
	width: 960px;
	height: 180px;
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	height: 100px;
	width: 310px;
	float: left;
	padding-left: 10px
}

.page-name {
	height: 100px;
	width: 320px;
	float: left;
	color: #d7a369;
}

.page-name h1 {
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
} 

.search {
	height: 100px;
	width: 320px;
	float: left;
}

nav {
	width: 960px;
	height: 100px;
	text-align: center;
}

nav li {
	display: inline-block;
	width: 120px;
	border: 2px solid;
	padding: 10px 0px 10px 0px;
	background: #f5f5db;
}

nav a {
	text-align: center;
	color: #cd853f;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

section {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	float: left;
	width: 700px;
}

h2 {
	text-align: center;
	background: #f5f5db;
	color: #cd853f;
}

aside {
	width: 250px;
	height: 600px;
	float: right;
	margin-top: 40px;
	border: 2px solid black;
	background: white;
}

aside h2 {
	color: #cd853f;
	background: #f5f5db;
	font-size: 25px;
}

footer {
	width: 960px;
	height: 100px;
	background: pink;
	margin: 0 auto;
}











