.computers{
	width: 190px;
	height: 350px;
}

.desktop{
	margin: 50px 0px 0px 10px;
}

.laptop{
	margin: 70px 0px 0px 10px;
}

.all-in-one{
	margin: 50px 0px 0px 5px;
}

.desktops {
	width: 270px;
	height: 350px;
	background: white;
	float: left;
	margin: 40px 20px 0px 20px;
	border: 2px solid black;
}

.desktopIMG {
	margin: 50px 0px 0px 10px;
}
