html {
    overflow-y: scroll; 
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #EEEEEE;
}

header {
	width: 960px;
	height: 180px;
	margin: 0 auto;
	overflow: hidden;
}

.aanbieding h3 {
	font-size: 1.4em;
}

.logo {
	height: 100px;
	width: 310px;
	float: left;
	padding-left: 10px
}

.page-name {
	height: 100px;
	width: 320px;
	float: left;
	color: #d7a369;
}

.page-name h1 {
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
} 

.search {
	height: 100px;
	width: 320px;
	float: left;
}

.search .btnSearch {
	height: 20px;
	width: 75px;
	color: #cd853f;
	font-size: 0.8em;
	font-weight: bold;
	border: 2px solid black;
	background: #f5f5db;
}

.aanbieding {
	padding: 140px 30px 0px 0px;
	float: right;
}

.section {
	width: 960px;
	background: #CCCCCC;
	margin: 0 auto;
	padding: 10px 40px 40px 20px;
}

.content a {
	text-decoration: none;
	color: #000000;
}

.aanbiedingIMG {
	float: left;
}

.boxes-index {
	width: 160px;
	height: 220px;
	margin: 16px 20px 0px 20px;
	float: left;
}

.boxes-index img {
	margin-top: 30px;
}

.boxes-index h2 {
	color: black;
	background: none;
}


nav {
	width: 960px;
	height: 100px;
	text-align: center;
}

nav li {
	display: inline-block;
	border: 2px solid;
	background: #f5f5db;
}

nav a {
	text-align: center;
	color: #cd853f;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	display:block;
	width: 125px;
	height: 32px;
	padding-top: 10px;
}

section {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	float: left;
	width: 700px;
}

h2 {
	text-align: center;
	background: #f5f5db;
	color: #cd853f;
}

.box {
	background: white;
	float: left;
	margin: 40px 20px 20px 20px;
	border: 2px solid black;
	overflow: hidden;
}
.product {
	width: 600px;
	background: white;
	margin: 40px 22px;
	border: 2px solid;
	overflow: hidden;
}

.product img {
	padding: 20px 0px 20px 20px;
	float: left; 
}

.product-info {
	float: right;
	width: 65%;
	min-height: 300px;
	padding: 10px;
}

.prijs {
	width: 150px;
	height: 100px;
	float: left;
	margin-left: 20px; 
}

.prijs p {
	font-size: 3em;
	font-weight: bold;
}



									/* index.html */
.product-home {
	width: 600px;
	height: 278px;
}

.product-home h2 {
	padding-left: 10px;
	font-size: 25px;
}

.img-muis {
	height: 182px;
}




									/* Informatie.html */

.informatie {
	width: 600px;
}

.winkelinfo {
	height: 200px;
	float: right;
	width: 280px;
	padding: 10px 0px 0px 0px;
}

.winkelinfo:last-of-type {
	margin-right: 0px;
}

.winkelinfo td {
	padding-right: 20px;
}

#map {
	width: 50%;
	height: 573px;
	margin-left: 0;
	float: left;
}

									/* Reparatie.html */

.reparatie {
	width: 600px;
}

.reparatie p {
	padding: 10px;
	font-size: 1.1em;
}

.gegevens {
	width: 400px;
	height: 20px;
	margin: 20px 0px 10px 3px;
}

.problem {
	margin: 20px 30px 10px 10px;
	float: left;
}

form h2 {
	margin-top: 20px;
	border-top: 2px solid black;
}

.reparatie td {
	padding-left: 10px;
}

textarea {
    max-width: 400px;
}

.send {
	display: inline-block;
	background: #f5f5db;
	color: #cd853f;
	width: 200px;
	float: right;
	margin: 30px 80px 30px 0px;
	height: 40px;
	font-size: 1.3em;
	border: 2px solid black;
}

.send:hover {
	border: 5px solid black;
	cursor: pointer;
}

									/* Shop.html */

.shop-box {
	width: 300px;
	height: 330px;
}

.shop-box img {
	padding: 20px 0px 0px 20px;
}




aside {
	width: 250px;
	height: 600px;
	float: right;
	margin-top: 40px;

	border: 2px solid black;
	background: white;
}

aside h2 {
	color: #cd853f;
	background: #f5f5db;
	font-size: 25px;
}

footer {
	width: 960px;
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
	color: #cd853f;
	margin-top: 125px;
	margin-bottom: 20px;
}

footer a {
	text-decoration: underline;
	color: #cd853f;
	font-family: inherit;
}











